<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    {% load static%}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{% static 'css/agenda_event.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <main>
        <nav>
            
            <a href="/events" class="active-btn">Events</a>
            <a href="/profile" class="a-btn">Profile</a>
            <a href="/logout" class="a-btn">Logout</a>
            <a href="/event" class="empty">go back</a>
        </nav>
        <article>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">&#x2630;</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#" class="active-btn">Main</a>
                    <a href="/events/" class="deactive-btn">Events</a>
                    <a href="/profile" class="deactive-btn">Profile</a>
                    <a href="/ogout" class="deactive-btn">Logout</a>
                    <a href="/event" class="a-btn">go back</a>

                </div>
            </div>
            
            
            <h1><a href="/edit_details/{{event.id}}"  style="text-decoration: none; color: #ff7220;">&#x1F589;</a> <a href="/delete/{{event.id}}"  style="text-decoration: none;color: #ff7220;">&#x1F5D1;</a> {{event.title}}
                
                <span>{{event.date}} </span>
            
            <p>{{event.description}}</p>
            
        </h1>   
            </article>
          

        <figure>
            
        </figure>


        
    
    </main>
</body>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

</html>